[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
twisted = {path = "./Twisted-20.3.0-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
